.container{
    display: grid;
    width: 100%;
    height: 500px;
    grid-template-areas: 
            "header header header"
            "nav main footer";
    grid-template-rows: 60px 400px;
    grid-template-columns: 200px 400px 1fr;
}
.container>header{
    grid-area: header;
    border: 2px solid;
    background-color: bisque;
}
.container>nav{
    grid-area: nav;
    border: 2px solid;
    background-color: antiquewhite;
}
.container>main{
    grid-area: main;
    border: 2px solid;
    background-color: blanchedalmond;
}
.container>footer{
    grid-area: footer;
    border: 2px solid;
    background-color: burlywood;
    text-align: center;
}