*{
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}
img{
    width: 100%;
    border-radius: 20px;
    box-shadow: 2px 2px 8px 2px white;
    
}
.img{
    columns: 3;
    column-gap: 10px;
    column-width: 100px;
    /* column-rule: 5px solid white; */
}