*{
    margin:10px;
    padding:1px;
    box-sizing: border-box;
    background-color: rgb(9, 10, 10);
}
.gallery{
    padding: 10px;
    max-width: 100%;
    margin: 0 auto;
    /* background: #d38484; */
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-auto-rows: 250px;
    grid-auto-flow: dense;
    
}
.v-s{
    grid-row:span 2;
}
.h-s{
    grid-column: span 2;
}
.b-s{
    grid-row: span 2;
    grid-column: span 2;
}
.gallery div img{
    width: 100%;
    height: 100%;
    border-radius:70px;
    object-fit: cover;
    box-shadow:3px 3px 3px 3px rgb(16, 123, 181);
}
/* @media(max-width:560px)
{
    .v-s{
        grid-row: span 1;
    }
    .h-s{
        grid-column: span 1;
    }
    .b-s{
        grid-row: span 1;
        grid-column: span 1;
    }
} */